body {
    font-family: Arial, sans-serif;
    background-color: #e9f5ff; /* Light blue background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #ffffff; /* White background */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px; /* Fixed width */
}

h1 {
    color: #333; /* Darker text color */
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

input, select {
    padding: 10px;
    margin-top: 5px;
    width: 100%; /* Full width for input and select */
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    margin-top: 10px;
    background-color: #4598bb;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4598bb;
}

#resultArea {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333; 
}
